//<BUTTONS>====================================================================================================
.btn{
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	&:hover{}
	&.fw{width: 100%;}
}
//</BUTTONS>====================================================================================================