//<BUTTONS>====================================================================================================
.btn {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 13px 44px;
  background-color: #9c1c28;
  border-radius: 25px;
  &:hover {
    background-color: #c94350;
  }
  &.fw {
    width: 100%;
  }

  @media (max-width: $md4+px) {
    padding: 7px 27px;
    font-size: 16px;
  }
}
//</BUTTONS>====================================================================================================
