.featured-sec {
  background-color: #282828;
  padding-top: 86px;
  padding-bottom: 122px;
  text-align: center;

  @media (max-width: $md2+px) {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}
.featured-container {
  max-width: 1400px;
}
.featured {
  &__title {
    color: #ffffff;
    display: inline-block;
    font-family: Lato;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.75px;
    position: relative;
    margin-bottom: 100px;

    @media (max-width: $md3+px) {
      margin-bottom: 60px;
      font-size: 24px;
    }
    &:after {
      content: "";
      position: absolute;
      width: 172px;
      height: 6px;
      background-color: #9c1c28;
      left: 50%;
      margin-left: -86px;
      bottom: -28px;

      @media (max-width: $md3+px) {
        bottom: -12px;
      }
    }
  }
  &-contant {
    @include flexbox();
    justify-content: space-between;

    @media (max-width: $md2+px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__item {
    text-align: center;
    background-color: #363636;
    //min-height: 372px;
    padding: 23px 20px 35px 25px;
    @include flexbox();
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include anim(0.5s, 0s);
    //padding: 93px 25px 35px 25px;
    flex: 0 1 18%;
    &:hover {
      outline: 2px solid #9c1c28;
      outline-offset: -10px;
    }
    @media (min-width: $md2+px) {
      &:hover {
        @include scale(1.1);
      }
    }

    @media (max-width: $md2+px) {
      margin-bottom: 25px;
      flex: 0 1 30%;
    }
    @media (max-width: $md3+px) {
      flex: 0 1 45%;
    }

    @media (max-width: 356px) {
      flex: 0 1 90%;
    }
  }

  &__item--img {
    //padding: 0px 0px 80% 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 11px;

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__item--title {
    color: #ff3448;
    font-family: "Lato";
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "H, eadligh" */
    letter-spacing: 0.85px;
    //margin-bottom: 22px;
  }

  &__item--price {
    color: #ffffff;
    font-family: "Lato";
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "$, 300.00" */
    letter-spacing: 0.71px;
    margin-bottom: 12px;
    margin-top: 22px;
  }
}
